<div class="align-content-lg-center">
    <h3>Desenvolvido para estudos</h3>
    <br />
    <div class="card-text" style="width: 18rem;">
        <img src="~/images/noimage.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Descrição </h5>
            <p class="card-text">
                Esse sistema foi desenvolvido por Marcos Ramos. Foi feito baseado no Curso Clean Architecture Essencial - ASP .NET Core
                com C# da plataforma Udemy, com o insrtutor Macoratti.
            </p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
    </div>
</div>

